.horizontal-menu {
  background-color: #3E77AA;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 3em;
  align-items: center;
}

.horizontal-menu > a {
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  word-spacing: 0px;
  color: aliceblue;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-menu > a:hover {
  border-bottom: black solid 2px;
}